body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  div {
    padding: 20px;
  }

  .delete-button{
    margin: 0 10px;
  }
  